
{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block tilte %}
Create Category
{% endblock %}

{% block content %}
<div class="container">
	<br>
	<h2> Adding category to a restaurant :</h2>
	
	<div class="col-md-12 bg-dark mt-3 md-3 px-3 p-3">
		<form class="jumbotron border border-primary" action="{% url 'addCategory' restaurant_id=restaurant_obj.id %}" method="POST">
			<div class="col-md-12">
				<h1 class="ml-3"><strong>Restaurant name : {{restaurant_obj.name}}</strong></h1>
			</div>
		{% csrf_token %}
		{{category_form|crispy}}
		<input type="submit" name="save" value="Save & Add Another" class="btn btn-primary">
		<input type="submit" name="create" value="Save" class="btn btn-success">
		<a href="{% url 'detail' restaurant_obj.id %}" class="btn btn-danger">Cancle</a>
	</form>
</div>
</div>
{% endblock content %}
