{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block tilte %}
Create item
{% endblock %}

{% block content %}
<div class="container">
	
	<div class="col-md-12">
		<h1 class="mt-5 ml-3"><strong>Category name : {{category_obj.name}}</strong></h1>
	</div>
	<br>
	<div class="col-md-12 bg-dark mt-3 md-3 px-3 p-3">
		<form class="jumbotron border border-primary" action="{% url 'addItem' category_id=category_obj.id %}" method="POST">
			<h2> Adding item to a category :</h2>
	<br>
		{% csrf_token %}
		{{item_form|crispy}}
		<input type="submit" name="save" value="Save & Add Another">
		<input type="submit" name="create" value="Save">
	</form>
</div>
</div>
{% endblock content %}
