<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    {% block title %}

    {% endblock title %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

  </head>

  <body>
    {% block content %}
       <div class="container" >

       </div>
    {% endblock content %}
    

    <!-- Footer -->
    <div class="row">
    <footer class="mt-5 bg-dark col-md-12 col-sm-12 sticky-bottom" >
      <div class="container">
        <p class="text-center text-white mt-3">Copyright &copy; Mudeer 2018</p>
      </div>
      <!-- /.container -->
    </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
