{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block tilte %}
Create Restaurant
{% endblock %}

{% block content %}
<div class="container">
	<br>
	
	<div class="col-md-12 bg-dark md-3 px-3 p-3">
	<div class="jumbotron border border-danger">
		<h2> Creating a new restaurant :</h2>
	<form action="{% url 'create_rest' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="jumbotron">
			{{restaurant_form|crispy}}
			<input type="submit" name="create" value="Save" class="btn btn-success">
			<a href="{% url 'profile_page' %}" class="btn btn-danger">Cancle</a>
		</div>
		
	</form>
</div>
</div>
</div>
{% endblock content %}