{% extends "base.html" %}


{% block title %}
  welcome
{% endblock %}


{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


      
      <table class="table jumbotron border border-dark">
        <thead>
            <tr>
                <th scope="col">Quantity</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="my-order-items">
        </tbody>

        <tbody id="my-order-total">
        </tbody>
    </table>
    
    



    <br><br><br>

    
    <ul class="nav nav-tabs mt-5">
    {% for category in restaurant.category_set.all %}
    {% if forloop.first %}
    <li class="active"><a data-toggle="tab" href="#name-{{category.name}}">{{category.name}}</a></li>
    {% else %}
    <li><a data-toggle="tab" href="#name-{{category.name}}">{{category.name}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>

  <div class="tab-content">
    
      {% for category in restaurant.category_set.all %}
        {% if forloop.first %}
            <div id="name-{{category.name}}" class="tab-pane fade in active">
              <h3>{{category.name}}</h3>
              {% for item in category.item_set.all %}
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <button class="btn btn-light" onclick="AddItem({{item.id}}, 1);">
                          <p><strong> {{item.name}} </strong></p>
                    </h4>
                  </button>
                    <h5>{{item.price}} KWD</h5>
                    <p class="card-text"><strong>Description :</strong> {{item.description}}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
          
              {% endfor %}
            </div>
        {% endif %}
      <div id="name-{{category.name}}" class="tab-pane fade">
        <h3>{{category.name}}</h3>
        {% for item in category.item_set.all %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <button class="btn btn-light" onclick="AddItem({{item.id}}, 1)">
                    <p><strong> {{item.name}} </strong></p>
              </h4>
            </button>
              <h5>{{item.price}} KWD</h5>
              <p class="card-text"><strong>Description :</strong> {{item.description}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>



  <script type="text/javascript">
  function AddItem(id, quantity){
    console.log(quantity)
    let qty = quantity;
    $.ajax({
      type: "GET",
      url: "/order/"+id+"?qty="+qty,
      error:function(err){
        console.log("Error, something went wrong!");
        console.log(err);
      },
      success:function(data){
          let myTable = $('#my-order-items');
          myTable.children().remove();
          let myTableTotal = $('#my-order-total');
          myTableTotal.children().remove();
          let total=0.0;

          for(let i = 0; i < data.length ; i ++)
          {
            myTable.append(
              "<tr><td>"+data[i]['quantity']+"</td><td>"+data[i]['name']+"</td><td>"+data[i]['price']+" KWD</td><td><button class='btn btn-danger' onclick='AddItem("+data[i]['id']+", 0);' >Delete</button></td></tr>"
              );
            
          total +=Number(data[i]['price']);
          }
          myTable.append(
              "<tr><th> </th><th> </th><th>Total</th></tr><tr><td></td><td></td><td>"+total+" KWD</td><tr>"
              );
      }
    })
  };


</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}