{% extends "base.html" %}


{% block title %}
  welcome
{% endblock %}


{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


      
      <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td><span id="item-name-{{item.id}}"> </span></td>
                <td><span id="price">  </span><span>  KWD</span></td>
                <td>
                    <a role="button" class="btn btn-danger"
                     href="javascript:void(0);" onclick='RemoveItem("{{ item.id }}");'>
                       <i class="fas fa-trash-alt"> Delete</i>
                     </a>
                </td>
            </tr>
            
            <tr>
                <th scope="row">Total</th>
                <td><span id="item-total">  KWD</span></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    

<div>
  <span id="test-0"> </span>
  <span id="test-1"> </span>
  <span id="test-2"> </span>
  <span id="test1"> </span>
  <span id="test2"> </span>
  <span id="additiondiv1"> </span>
</div>

    <br><br><br>

    
    <ul class="nav nav-tabs mt-5">
    {% for category in restaurant.category_set.all %}
    {% if forloop.first %}
    <li class="active"><a data-toggle="tab" href="#name-{{category.name}}">{{category.name}}</a></li>
    {% else %}
    <li><a data-toggle="tab" href="#name-{{category.name}}">{{category.name}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>

  <div class="tab-content">
    
      {% for category in restaurant.category_set.all %}
        {% if forloop.first %}
            <div id="name-{{category.name}}" class="tab-pane fade in active">
              <h3>{{category.name}}</h3>
              {% for item in category.item_set.all %}
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <button class="btn btn-light" onclick="AddItem({{item.id}});">
                          <p><strong> {{item.name}} </strong></p>
                    </h4>
                  </button>
                    <h5>{{item.price}} KWD</h5>
                    <p class="card-text"><strong>Description :</strong> {{item.description}}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
          
              {% endfor %}
            </div>
        {% endif %}
      <div id="name-{{category.name}}" class="tab-pane fade">
        <h3>{{category.name}}</h3>
        {% for item in category.item_set.all %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <button class="btn btn-light" onclick="AddItem({{item.id}});">
                    <p><strong> {{item.name}} </strong></p>
              </h4>
            </button>
              <h5>{{item.price}} KWD</h5>
              <p class="card-text"><strong>Description :</strong> {{item.description}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>



  <script type="text/javascript">
  function AddItem(id){
    $.ajax({
      type: "GET",
      url: "/order/"+id,
      error:function(err){
        console.log("Error, something went wrong!");
        console.log(err);
      },
      success:function(data){
        console.log(data);
        $('#test1').text(data[0]['name']);
        $('#test2').text(data[1]['name']);
        $.each(data,function(index,value){ 
            $.each(value, function(index2, value2) {
                $('#price').text(value2);
                $('#additiondiv1').text(index2);
            });
        });
      }
    })
  }
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}