{% extends "base.html" %}


{% block title %}
  Profile Page
{% endblock %}

{% block content %}



	<div class="row">
		
	{% for restaurant in restaurants %}
	<div class="col-xl-3 mt-3">
	<div class="card-deck mt-3 h-100 border-info">
	  <div class="card">
	  	<a href="{% url 'update_rest' restaurant_id=restaurant.id %}"><button type="button" class="mb-3 mx-center mt-1 btn btn-primary">update</button></a>
	  	<a href="{% url 'detail' restaurant_id=restaurant.id %}">
	    <img class="card-img-top" src={{restaurant.image}} alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title"> <strong> {{restaurant.name}} </strong></h5>
	      <p class="card-text"><strong>Description :</strong> {{restaurant.description}}</p>
	    </div>
	      <div class="card-footer mt-2">
	      	<small class="text-muted">Established Date : {{restaurant.established}}</small>
	      </div>
	  </a>
	</div>
</div>
</div>
	    
	
	
	 {% endfor %}
	</div>


	 <div class="col-sm-12 col-md-12 col-lg-12 mt-5 mb-5">
			<div class="mx-auto" style="width: 200px;">
				<a href="{% url 'create_rest' %}"><button type="button" class="ml-3 mr-5 mt-5 btn btn-primary btn-lg">Create New Business</button></a>
			</div>
		</div>
	</div>
	 	

	





{% endblock content %}