{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block tilte %}
Restaurant Update
{% endblock %}

{% block content %}
<div class="container">
	<br>
	<h2> Updating category :</h2>
	<br>
	<div class="col-md-12">
		<h1 class="mt-5 ml-3"><strong>Category name : {{category_obj.name}}</strong></h1>
	</div>
	<br>
	<div class="jumbotron border border-danger">
	<form action="{% url 'update_category' category_id=category_obj.id %}" method="POST">
		{% csrf_token %}
		{{form|crispy}}
		<input type="submit" name="Update">
		<input type='submit' name="cancle" value="Cancle">
	</form>
</div>
</div>
{% endblock content %}
