{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block tilte %}
Restaurant Update
{% endblock %}

{% block content %}
<div class="container">
	
	<div class="col-md-12">
		<h1 class="mt-5 ml-3"><strong>Item Name : {{item_obj.name}}</strong></h1>
	</div>
	<br>
	<div class="col-md-12 bg-dark mt-3 md-3 px-3 p-3">
		<form class="jumbotron border border-primary" action="{% url 'update_item' item_id=item_obj.id %}" method="POST">
			<h2> Updating item :</h2>
	<br>
		{% csrf_token %}
		{{form|crispy}}
		<input type="submit" name="Update">
		<input type='submit' name="cancle" value="Cancle">
	</form>
</div>
</div>
{% endblock content %}